@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Bungee Inline', cursive;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  margin: 0 auto;
}

#root {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
